.cell {
	position: absolute;
	box-sizing: border-box;
	background-color: #C0C0C0;
	width: 20px;
	height: 20px;
	border-width:3px;
    border-style:solid;
    border-color:#fff #808080 #808080 #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell__icon {
	width: 90%;
	height: 90%;
}

.cell__open {
	border: none;
	border-bottom: 1px solid #818181;
	border-left: 1px solid #818181;
}

.cell__mine--exploded {
	background-color: #FC371E;
}